<div class="header">
    <div class="logo">
        <a href="#" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)"><h1>membrain</h1></a>
    </div>
    
    <div class="menu">
        <a href="#" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)"><h3>explore</h3>
            <div class="active"></div>
        </a>
        <a href="#" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)"><h3>home</h3>
            <div class="inaactive"></div>
        </a>
        <a href="#" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)"><h3>about us</h3>
            <div class="inaactive"></div>
        </a>
        <a href="#" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)"><h3>order</h3>
            <div class="inaactive"></div>
        </a>
    </div>
</div>