<div [class]="'carousel-container '+class">
    <div>
        <h1>UP NEXT</h1>
    </div>
    
    <div class="bottomleft">
        <fa-icon [icon]="arrowRight"></fa-icon>
        <h2>Lorem Ipsum</h2>
        <p>Discover More</p>
    </div>
</div>
<div class="button-container">
    <h3>0{{in}} _________________________ 04</h3>
    <div class="button" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)" >
        <fa-icon [icon]="arrowLeft" ></fa-icon>
    </div>
    <div class="button" (mouseover)="onHover($event)" (mouseout)="onUnHover($event)" (click)="clickedRight($event)">
        <fa-icon [icon]="arrowRight"></fa-icon>
    </div>
</div>